[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"Fabric3" = "==1.14.post1"
click = "==7.0"
sh = "==1.12.14"
"e1839a8" = {path = ".", editable = true}
master = {git = "https://github.com/magnet-cl/fabtools", editable = true}

[requires]
python_version = "2.7"
