GSSAPIAuthentication no
ServerAliveInterval 60

# Magnet linode server "barrosluco"
# limops.testing on port: 80
Host barrosluco limops.testing
    hostname 50.116.12.158
    user magnet

# magnet site
Host magnet-cl
    hostname 162.243.140.171
    user magnet

# Magnet digital ocean server "charquican"
Host charquican
    hostname 162.243.61.107
    user magnet

# Magnet digital ocean server "ajiaco"
# comoreciclo on port: 9000
# cerrandobrechas.dev on port: 80
# orsan.magnet.cl on port: 80
# treid.magnet.cl on port: 80
Host ajiaco comoreciclo cerrandobrechas.dev orsan treid.testing
    hostname 107.170.194.52
    user magnet

# Magnet digital ocean server "DulceChileno"
# gantz on port: 80
Host dulcechileno gantz
    hostname 107.170.186.125
    user magnet

# site on port: 80
Host myhood.master
    hostname myhood.cl
    user magnet

# site on port: 80
Host myhood.dev
    hostname 162.216.18.38
    user magnet

# site on port: 80
Host speaktion.master
    hostname speaktion.com
    user magnet

# site on port: 80
Host especificadorca
    hostname especificadorca.cl
    user magnet

# site on port: 80
Host ligasiete
    hostname 190.114.254.202
    user magnet

# site on port: 80
Host limops
    hostname limops.cl
    user magnet

# site on port: 80
Host treid.master
    hostname 23.239.0.228
    user magnet

# site on port: 80
Host wikirin
    hostname supdevel.wikirin.com
    user magnet

# site on port: 80
Host cerrandobrechas.prod
    hostname 54.207.87.242
    user magnet

# site on port: 80
Host inforemate
    hostname 107.170.15.74
    user magnet

# site on port: 80
Host exa
    hostname 50.116.10.103
    user magnet

# site on port: 80
Host autored.prod
    hostname 198.74.49.242
    user magnet

# site on port: 80
Host autored.staging
    hostname staging.autored.cl
    user magnet

# site on port: 80
Host ubimovil.prod
    hostname 173.255.254.251
    user magnet

# site on port: 80
Host chilectra.testing
    hostname 107.170.115.154
    user magnet

# site on port: 80
Host orsan.testing
    hostname 107.170.13.163
    user magnet

Host casabarros
    hostname 192.241.181.121
    user magnet

Host suspiro
    hostname 162.243.64.250
    user magnet
